<div class="from-group mt-5">
    <input type="text" class = "form-control" [(ngModel)]="newItem" (keyup.enter)="addItem()">
    <button class="btn btn-primary" (click)="addItem()" [disabled]="newItem === ''">Dodaj</button>
    <button class="btn btn-primary" (click)="sortList()">Sortuj</button>
</div>


<ul class="list-group mt-5">
    <li class="list-group-item" *ngFor="let item of todoItems" [ngClass]="{'podkresl':item.check === true}">
        <app-todo-item [todoItem]="item" (itemToDelete)="removeItem($event)"></app-todo-item>
        <button (click)="change(item)">Zrobione</button>
    </li>
</ul>

<style>
    .podkresl{
        text-decoration: line-through;
    }
</style>

